* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: black;
}
.saveAndLoad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.saveAndLoad > button {
  width: 100px;
  height: 30px;
  font-size: 1.25em;
  font-weight: 800;
  background-color: #F6E3CE;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
.saveAndLoad > button:hover {
  font-size: 1.5em;
  font-weight: 950;
  cursor: pointer;
}
.hodu {
  width: 400px;
}
.hodu img{
  width: 400px;
}
.app{
  background-color: white;
  width: 400px;
  height: 819.1px;
  margin: 0 auto;
}
.title-score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2vh;
  background-color: #F6E3CE;
}
.friendbutton {
  font-size: 1.2em;
  font-weight: 800;
  width: 60px;
  height: 30px;
  font-size: 1.25em;
  font-weight: 800;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);

}
.score{
  width: 250px;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  background-color: white;
  color: black;
  border-top: 1px solid rgb(104, 104, 104);
  border-bottom: 2px dotted coral;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
.store{
  width:auto;
  height: auto;
  white-space: nowrap;
  overflow: auto;
  background-color: rgb(174, 173, 173);
}

.title{
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #ecf3e5;
  width: auto;
}
.store-block img{
  width: 50px;
}
.title-score img{
  width: 50px;
}
.title-font {
  font-size: 1.0em;
  font-weight: 300;
}
.title-title-font{
  font-size: 1.3em;
  font-weight: 600;
}
.carrotSell {
  display: flex;
}
.carrotSell > .store-block {
  display: grid:block;
  gap: 3.4px;
  text-align: center;
  justify-items: center;
  padding: 1vh;
  margin: 1.5vh;
  align-items: center;
  width: 130px;
  height: auto;
  background-color: #ecf3e5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}
.carrotSell > .store-block > button{
  font-size: 1.2em;
  background-color: #9dc07b;
  font-weight: 300;
  width: 80px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-radius: 10px;
}

.carrotSell > .store-block > button:hover {
  font-size: 1.2em;
  background-color: #9dc07b;
  font-weight: 600;
  width: 80px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-radius: 10px;
  cursor: pointer;
}
